# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache
report.xml
*.log

# Translations
*.mo
*.pot

# sphinx documentation
docs/_build

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# venv
venv/
.venv/

# IDE
.idea/

# built binaries
tests/fixtures/*/build/*
!tests/fixtures/*_coredump_*/build/gdbinit/
tests/fixtures/*_coredump_*/build/gdbinit/*
!tests/fixtures/*_coredump_*/build/gdbinit/prefix_map
!tests/fixtures/*_coredump_*/build/*.elf

!tests/fixtures/*_panic/build/gdbinit/
tests/fixtures/*_panic/build/gdbinit/*
!tests/fixtures/*_panic/build/gdbinit/prefix_map
!tests/fixtures/*_panic/build/*.elf

!tests/fixtures/*/build/bootloader/
tests/fixtures/*/build/bootloader/*
!tests/fixtures/*/build/bootloader/*.bin
!tests/fixtures/*/build/partition_table/
!tests/fixtures/*/build/config/
tests/fixtures/*/build/config/*
!tests/fixtures/*/build/config/sdkconfig.json
!tests/fixtures/*/build/flasher_args.json
!tests/fixtures/*/build/*.bin

sdkconfig
sdkconfig.old
