# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: |
  (?x)^(
    .*tests/fixtures/.+|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["-f=lf"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.10"
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format

  # documentation
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.2
    hooks:
      - id: sphinx-lint
        args: [--enable=default-role]
  - repo: https://github.com/hfudev/rstfmt
    rev: v0.1.4
    hooks:
      - id: rstfmt
        args: ["-w", "-1"]
        files: \.rst$

  # git commit
  - repo: https://github.com/espressif/conventional-precommit-linter
    rev: v1.11.0
    hooks:
      - id: conventional-precommit-linter
        stages: [commit-msg]
        args:
          ["--types=chore,change,ci,docs,feat,fix,refactor,remove,revert,bump"]
