# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: |
  (?x)^(
    .*tests/fixtures/.+|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: &whitespace_excludes |
          (?x)^(
            .+\.(md|rst|map|bin)|
            .+test.*\/.*expected.*|
          )$
      - id: end-of-file-fixer
        exclude: *whitespace_excludes
      - id: mixed-line-ending
        args: [ '-f=lf' ]
      - id: double-quote-string-fixer
  - repo: https://github.com/ikamensh/flynt/
    rev: '0.66'
    hooks:
      - id: flynt
  - repo: https://github.com/psf/black
    rev: 21.8b0
    hooks:
      - id: black
        args: [ '--skip-string-normalization' ]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/pycqa/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort (python)
