pytest>=6.2.0
pexpect>=4.4

# plugin pytest-embedded-serial
pyserial>=3.0

# plugin pytest-embedded-serial-esp
esptool>=3.1

# testing
pytest-cov
pytest-rerunfailures

# for rpi
cryptography<3.4; platform_machine == "armv7l"
