-r ../requirements.txt

# theme
sphinx-rtd-theme

# extensions
myst-parser              # markdown support
sphinx-tabs              # tabs support
sphinx_copybutton        # copy button
sphinxcontrib-mermaid    # mermaid graph support
sphinxcontrib-napoleon   # google style docstring support
