name: Test Python Packages

on:
  pull_request:
    paths:
      - '**.py'
      - '!docs/**'
  push:
    branches: [ main ]

jobs:
  test-python:
    timeout-minutes: 30
    runs-on:
      - self-hosted
      - multiboard
    strategy:
      matrix:
        python-version: ['3.7', '3.11']
      fail-fast: false
    container:
      image: python:${{ matrix.python-version }}-bullseye
      options: --privileged
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          apt update && apt install -y socat zip
          pip install -U pip
          export PIP_EXTRA_INDEX_URL="https://dl.espressif.com/pypi"
          pip install cryptography --only-binary :all:
          pip install -r requirements.txt
          bash foreach.sh install
      - name: Check ports
        run: ls -la /dev/ttyUSB*
      - name: Run Tests with coverage
        run: |
          pytest \
            --junitxml=pytest.xml \
            --cov-report=term-missing \
            --cov=pytest_embedded \
            --cov=pytest_embedded_arduino \
            --cov=pytest_embedded_idf \
            --cov=pytest_embedded_jtag \
            --cov=pytest_embedded_qemu \
            --cov=pytest_embedded_serial \
            --cov=pytest_embedded_serial_esp
      - name: Zip log files
        if: failure()
        run: |
          zip -r logs.zip /tmp/pytest-embedded
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: logs
          path: logs.zip
